<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FCTB" version="2.16.24" targetFramework="net472" />
  <package id="GitVersionTask" version="3.6.5" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="ObjectListView.Official" version="2.9.1" targetFramework="net472" />
  <package id="Sentry" version="1.2.0" targetFramework="net472" />
  <package id="Sentry.PlatformAbstractions" version="1.0.0" targetFramework="net472" />
  <package id="Sentry.Protocol" version="1.0.6" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
</packages>